.jodit-container:not(.jodit_inline) {
  border: 1px solid #000000 !important;
  border-radius: 3px !important;
  background-color: #1f2937 !important;
}

.jodit-toolbar__box:not(:empty) {
  background-color: #374151 !important;
  overflow: hidden !important;
  border-radius: 3px 3px 0 0 !important;
  border-bottom: 1px solid #374151 !important;
}

.jodit-icon {
  fill: #e5e7eb !important;
  stroke: #4c4c4c !important;
}

.jodit-popup__content {
  background: #4b5563 !important;
}

.jodit-toolbar-button__button:hover:not([disabled]) {
  background-color: #9ca3af !important;
}
.jodit-ui-input__wrapper {
  border: 1px solid #000 !important;
}

.jodit-ui-input__input {
  background-color: #111827 !important;
}

.jodit-ui-text-area__wrapper {
  border: 1px solid #000 !important;
}

.jodit-ui-text-area__input {
  background-color: #111827 !important;
}

.jodit-ui-input__input:focus {
  box-shadow: 0 0 0 0.15rem rgba(0, 123, 255, 0.25) !important;
}

.jodit-ui-group_separated_true:not(:last-child)::after {
  border-right: none !important;
}
.jodit-toolbar-editor-collection_mode_horizontal::after {
  background-color: #374151 !important;
}
.jodit-workplace + .jodit-status-bar:not(:empty) {
  border-top: 1px solid #374151 !important;
}
.jodit-status-bar {
  background-color: #374151 !important;
}

.jodit-ui-separator {
  border-right: 1px solid #374151 !important;
}

element {
  left: 447px;
  top: 386.5px;
}
.jodit-dialog__panel {
  background-color: #374151 !important;
}
